{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    {{- if .OutputFormats.Get "html" }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{ end }}
    {{ end }}
  </section>

  <aside>
    <img
      src="/avatar.png"
      alt="My avatar: a simple illustration of a pink hammer on a blue background"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/index.xml">rss</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:{{$.Site.Params.email}}">{{$.Site.Params.email}}</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/chris-pauley">chris-pauley</a></dd>
      <dt>linkedin</dt>
      <dd><a href="https://linkedin.com/in/chrispauley">Chris Pauley</a></dd>
    </dl>

    <small>Sometimes I write things and dump them here for anyone interested. I'm not really trying to <i>do blogging</i> so there's no cohesive theme or audience.</small>
  </aside>
</main>
